{% extends "base.html" %}
{% block page_title %} Community {% endblock %}
{% block title %}Community{% endblock %}
{% block main %}
<main class="main">
    <ul hidden class="share_links">
        {% for link in share_links %}
            <li><a href="{{ link }}">{{ link }}</a></li>
        {% endfor %}
    </ul>
    <h1>Community</h1>
    <div class="filter_search" onclick="open_filter()">
        <ion-icon name="options-outline"></ion-icon>
    </div>
    <input type="text" autocomplete="off" placeholder="Search" class="search" id="search">
      <div class="search_subject" id="search_subject">View Subject Sets</div>
    <div id="search_filter_container" class="search_filter_container">
        <strong class="search_filters_title">Filters</strong>
        <p>Customize What Sets That You See. (Not Functional)</p>
        <strong>Age</strong>
        <p>Chose If You Want To See The Oldest Or Newest Sets First</p>
        <select>
            <option selected>Oldest To Newest</option>
            <option>Newest To Oldest</option>
        </select>
        <strong>Subject</strong>
        <p>Chose Which Subjects That You Can Browse</p>
        <select>
            <option value="all">All</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Biology">Biology</option>
                <option value="Physics">Physics</option>
                <option value="Maths">Maths</option>
                <option value="Sport">Sport</option>
                <option value="English">English</option>
                <option value="History">History</option>
                <option value="Geography">Geography</option>
                <option value="Music">Music</option>
                <option value="Other">Other</option>
        </select>
        <strong>Creator</strong>
        <p>Only See Sets From One Person</p>
        <input type="text" placeholder="Username">
    </div>
    
    <div class="home_buttons">
        <a href="/" class="main_button">
            <span>Home</span>
            <ion-icon name="home-outline"></ion-icon>
        </a>
    </div>
    <div class="home_sets" id="home_sets">
        <a onclick="document.getElementById('recommend_loading_spinner').style.display = 'flex'" style="display:none;" class="folder_home" draggable="false" href="/recommended" id="recommended_folder"><loading id="recommend_loading_spinner" class="loader"><spinner></spinner></loading><span class="subject"><ion-icon name="folder-open-outline"></ion-icon>Recommendations</span><img alt="Recommended" draggable="false" src="/static/folders/Recommend Folder.webp" id="recommended"><strong id="recommended">Recommended Sets</strong><p id="recommended">View Your Recommended Sets</p></a>
    </div>
    <h2>Subjects</h2>
    <div class="community_subjects">
        <a href="javascript:onlySubjectSets('Maths')">
            <img alt="Maths Sets" src="static/subject_icons/maths.webp">
            <strong>Maths</strong>
            <p id="Maths">? Sets</p>
        </a>
        <a href="javascript:onlySubjectSets('Computer Science')">
            <img alt="Computer Science Sets" src="static/subject_icons/comp.webp">
            <strong>Computer Science</strong>
            <p id="Computer Science">? Sets</p>
        </a>
        <a href="javascript:onlySubjectSets('Physics')">
            <img alt="Physics Sets" src="static/subject_icons/physics.webp">
            <strong>Physics</strong>
            <p id="Physics">? Sets</p>
        </a>
        <a href="javascript:onlySubjectSets('Chemistry')">
            <img alt="Chemistry Sets" src="static/subject_icons/chemistry.webp">
            <strong>Chemistry</strong>
            <p id="Chemistry">? Sets</p>
        </a>
        <a href="javascript:onlySubjectSets('Biology')">
            <img alt="Biology Sets" src="static/subject_icons/biology.webp">
            <strong>Biology</strong>
            <p id="Biology">? Sets</p>
        </a>
        <a href="javascript:onlySubjectSets('Music')">
            <img alt="Music Sets" src="static/subject_icons/music.webp">
            <strong>Music</strong>
            <p id="Music">? Sets</p>
        </a>
        <a href="javascript:onlySubjectSets('Geography')">
            <img alt="Geography Sets" src="static/subject_icons/world.webp">
            <strong>Geography</strong>
            <p id="Geography">? Sets</p>
        </a>
        <a href="javascript:onlySubjectSets('History')">
            <img alt="History Sets" src="static/subject_icons/history.webp">
            <strong>History</strong>
            <p id="History">? Sets</p>
        </a>
        <a href="javascript:onlySubjectSets('Sport')">
            <img alt="Sport Sets" src="static/subject_icons/sport.webp">
            <strong>Sport</strong>
            <p id="Sport">? Sets</p>
        </a>
        <a href="javascript:onlySubjectSets('English')">
            <img alt="English Sets" src="static/subject_icons/book.webp">
            <strong>English</strong>
            <p id="English">? Sets</p>
        </a>
    </div>
    <dialog class="start_set" id="start_set">
        <div class="all_contain_start">
            <img class="set_image" id="set_image">
            <div class="text_contain_start">
                <h2 id="set_title" class="set_title_dialog">Set Name</h2>
                <p id="set_desc"></p>
            </div>
        </div>
        <button id="close_mobile" class="close_moblie no_pull"><div></div></button>
        <button class="close_start_set">
            <ion-icon onclick="document.getElementById('start_set').close()" class="close_start"
                name="close-outline"></ion-icon>
        </button>
        <div class="start_options">
            <a onclick="document.getElementById('cards_loading').style.display = 'flex'" href="/flashcards" id="flashcards">
                <loading id="cards_loading" class="loader"><spinner></spinner></loading>
                <span id="flash_rec" class="subject"><ion-icon name="sparkles"></ion-icon>Recommend</span>
                <ion-icon src="/static/revise_icons/Fashcards.svg"></ion-icon>
                <strong>Flashcards</strong>
            </a>
            <a onclick="document.getElementById('quest_loading').style.display = 'flex'" href="/questions" id="questions">
                <loading id="quest_loading" class="loader"><spinner></spinner></loading>
                <span id="quest_rec" class="subject"><ion-icon name="sparkles"></ion-icon>Recommend</span>
                <ion-icon src="/static/revise_icons/Questions.svg"></ion-icon>
                <strong>Questions</strong>
            </a>
            <a onclick="document.getElementById('fill_loading').style.display = 'flex'" href="/fill" id="fill">
                <loading id="fill_loading" class="loader"><spinner></spinner></loading>
                <ion-icon src="/static/revise_icons/Fill The Gaps.svg"></ion-icon>
                <strong>Fill The Gaps</strong>
            </a>
            <a onclick="document.getElementById('test_loading').style.display = 'flex'" href="/upgrade" id="test">
                <loading id="test_loading" class="loader"><spinner></spinner></loading>
                <ion-icon id="test_lock" class="start_lock" name="arrow-up-circle-outline"></ion-icon>
                <ion-icon src="/static/revise_icons/Test.svg"></ion-icon>
                <strong>Test</strong>
            </a>
        </div>
        <div class="start_buttons">
            <a style="display:none;" href="/delete" id="del_button" class="main_button del_button">
                <span>Delete</span><ion-icon name="trash-outline"></ion-icon>
            </a>
            <a id="share" class="second_button main_button">
                <span>Share</span><ion-icon name="share-social-outline"></ion-icon>
            </a>
            <a href="/download" id="download_button" class="main_button">
                <span>Download</span><ion-icon name="download-outline"></ion-icon>
            </a>
        </div>
    </dialog>
</main>
    <nav class="bottom_nav">
        <a href="/new/folder"><ion-icon name="folder-open-outline"></ion-icon></a>
        <a href="/community"><ion-icon name="earth-outline"></ion-icon></a>
        <a href="/play"><ion-icon name="play-outline"></ion-icon></a>
        <a href="/new" class="add_button_nav"><ion-icon name="add-outline"></ion-icon></a>
    </nav>
<script>
    var subject_numbers = {
        "Maths":0,
        "Computer Science":0,
        "Physics":0,
        "Chemistry":0,
        "Biology":0,
        "Music":0,
        "Geography":0,
        "History":0,
        "Sport":0,
        "English":0,
        "Other":0
    }
    const copy = (text) => {
        navigator.clipboard.writeText(text)
        document.getElementById("share").innerHTML = "<ion-icon name='clipboard-outline'></ion-icon>Copyed!"
    }
    function show(name) {
        var set = sets[name];
        var sets_keys = Object.keys(set);
        sets_keys.pop();
        var mean = 0;
        var total_ans_len = 0;
        for (var i = 0; i < sets_keys.length; i++) {
            var ans = set[sets_keys[i]]["answers"]["ans1"];
            total_ans_len += ans.split(" ").length;
        }
        mean = total_ans_len / sets_keys.length;
        if (mean <= 2 && sets_keys.length > 3) {
            document.getElementById("quest_rec").style.display = "flex";
            document.getElementById("flash_rec").style.display = "none";
        } else {
            document.getElementById("flash_rec").style.display = "flex";
            document.getElementById("quest_rec").style.display = "none";
        }
        document.getElementById("start_set").showModal();
        document.getElementById("set_image").src = `/static/set_icons/${sets[name]["settings"]["background"]}.webp`
        document.getElementById("share").innerHTML = '<ion-icon name="share-social-outline"></ion-icon> Share'
        var title = sets[name]["settings"]["name"];
        var user = sets[name]["settings"]["user"];
        document.getElementById("set_title").innerText = title;
        document.getElementById("set_desc").innerText = sets[name]["settings"]["desc"];
        document.getElementById("flashcards").href = `/flashcards/@${user}/${title}`;
        document.getElementById("questions").href = `/questions/@${user}/${title}`;
        document.getElementById("fill").href = `/fill/@${user}/${title}`;
        if (level == "admin" || user == username) {
            document.getElementById("del_button").style.display = "inline-block";
        } else {
            document.getElementById("del_button").style.display = "none";
        }
        document.getElementById("del_button").href = `/delete/@${user}/${title}`;
        document.getElementById("download_button").href = `/download/@${user}/${title}`;
        var share = document.getElementById("share")
        share.addEventListener("click", () => {
            copy(`revise.booogle.app/share/@${sets[name]["settings"]["user"]}/${title}`)
        })
    }

    var sets = {{sets| tojson}};
    var username = {{name|tojson}};
    var sets_keys = Object.keys(sets);

    search_element = document.getElementById("search");
    search_element.addEventListener("input", () => {
        search();
    });

    const search = () => {
        var query = search_element.value
        var sets_list = document.querySelectorAll(".set_title");
        for (var i = 0; i < sets_list.length; i++) {
            if (!(sets[i]["settings"]["name"] + " " + sets[i]["settings"]["desc"]).toLowerCase().includes(search_element.value.toLowerCase())) {
                document.getElementById(i).style.display = "none";
            } else {
                document.getElementById(i).style.display = "block";
            }
        }
        if (query.length > 4){
            var data = {
                "text": query
            }
            var url = "/api/smartsubject"
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                var search_subject = document.getElementById("search_subject")
                if (search_element.value.length > 4){
                    search_subject.style.display = "flex"
                }
                if (data["subject"].trim()  == "Geography"){
                    search_subject.innerHTML = '<ion-icon name="earth-outline"></ion-icon> View '+data["subject"]+' Sets';
                }else if (data["subject"].trim() == "Computer Science"){
                    search_subject.innerHTML = '<ion-icon name="laptop-outline"></ion-icon> View '+data["subject"]+' Sets';
                }else if(data["subject"].trim()  == "Maths"){
                    search_subject.innerHTML = '<ion-icon name="calculator-outline"></ion-icon> View '+data["subject"]+' Sets';
                }else if (data["subject"].trim()  == "Physics"){
                    search_subject.innerHTML = '<ion-icon name="rocket-outline"></ion-icon> View '+data["subject"]+' Sets';
                }else if(data["subject"].trim()  == "Chemistry"){
                    search_subject.innerHTML = '<ion-icon name="flask-outline"></ion-icon> View '+data["subject"]+' Sets';
                }else if(data["subject"].trim()  == "Biology"){
                    search_subject.innerHTML = '<ion-icon name="leaf-outline"></ion-icon> View '+data["subject"]+' Sets';
                }else if (data["subject"].trim()  == "History"){
                    search_subject.innerHTML = '<ion-icon name="time-outline"></ion-icon> View '+data["subject"]+' Sets';

                }else if (data["subject"].trim()  == "Sport"){
                    search_subject.innerHTML = '<ion-icon name="football-outline"></ion-icon> View '+data["subject"]+' Sets';
                }else if (data["subject"].trim()  == "English"){
                    search_subject.innerHTML = '<ion-icon name="book-outline"></ion-icon> View '+data["subject"]+' Sets';
                }else if (data["subject"].trim()  == "Other"){
                    search_subject.innerHTML = '<ion-icon name="albums-outline"></ion-icon> View '+data["subject"]+' Sets';
                }else if(data["subject"].trim()  == "Music"){
                    search_subject.innerHTML = '<ion-icon name="musical-notes-outline"></ion-icon> View '+data["subject"]+' Sets';
                }else if (data["subject"].trim()  == "Engineering"){
                    search_subject.innerHTML = '<ion-icon name="construct-outline"></ion-icon> Engineering';
                }else if (data["subject"].trim()  == "Design"){
                    search_subject.innerHTML = '<ion-icon name="color-palette-outline"></ion-icon> Design';
                }
                else{
                    search_subject.innerHTML = data["subject"];
                }
                search_subject.addEventListener("click", () => {
                    onlySubjectSets(data["subject"])
                });
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
        else{
            search_subject.style.display = "none"
        }
    };
    if (sets_keys.length > 0) {
        document.getElementById("recommended_folder").style.display = "block";
    }
    for (var i = 0; i < sets_keys.length; i++) {
        var amount_questions = Object.keys(sets[sets_keys[i]]).length - 1
        var level = sets[sets_keys[i]]["settings"]["level"];
        var home = document.getElementById("home_sets");
        var a = document.createElement("set");
        a.classList.add("set_home")
        var img = document.createElement("img");
        var strong = document.createElement("strong");
        var p = document.createElement("p");
        var user = document.createElement("a");
        var info = document.createElement("info");
        var subject = document.createElement("span")
        var amount_of_questons = document.createElement("span")
        var hidden_share_link = document.createElement("a")
        img.draggable = false;
        a.addEventListener("click", (e) => {
            show(e.target.id);
        });
        img.alt = sets[sets_keys[i]]["settings"]["name"];
        img.src = `/static/set_icons/${sets[sets_keys[i]]["settings"]["background"]}.webp`;
        user.innerText = sets[sets_keys[i]]["settings"]["user"];
        user.classList.add("user_name");
        hidden_share_link.href = "/share/@" + sets[sets_keys[i]]["settings"]["user"] + "/" + sets[sets_keys[i]]["settings"]["name"];
        user.href = "/stats/@" + sets[sets_keys[i]]["settings"]["user"];
        strong.innerText = sets[sets_keys[i]]["settings"]["name"];
        a.setAttribute("data-value", sets[sets_keys[i]]["settings"]["subject"].trim());
        subject_numbers[sets[sets_keys[i]]["settings"]["subject"].trim()] += 1
        if (sets[sets_keys[i]]["settings"]["subject"].trim()  == "Geography"){
            subject.innerHTML = '<ion-icon name="earth-outline"></ion-icon>'+sets[sets_keys[i]]["settings"]["subject"];
        }else if (sets[sets_keys[i]]["settings"]["subject"].trim() == "Computer Science"){
            subject.innerHTML = '<ion-icon name="laptop-outline"></ion-icon>'+sets[sets_keys[i]]["settings"]["subject"];
        }else if(sets[sets_keys[i]]["settings"]["subject"].trim()  == "Maths"){
            subject.innerHTML = '<ion-icon name="calculator-outline"></ion-icon>'+sets[sets_keys[i]]["settings"]["subject"];
        }else if (sets[sets_keys[i]]["settings"]["subject"].trim()  == "Physics"){
            subject.innerHTML = '<ion-icon name="rocket-outline"></ion-icon>'+sets[sets_keys[i]]["settings"]["subject"];
        }else if(sets[sets_keys[i]]["settings"]["subject"].trim()  == "Chemistry"){
            subject.innerHTML = '<ion-icon name="flask-outline"></ion-icon>'+sets[sets_keys[i]]["settings"]["subject"];
        }else if(sets[sets_keys[i]]["settings"]["subject"].trim()  == "Biology"){
            subject.innerHTML = '<ion-icon name="leaf-outline"></ion-icon>'+sets[sets_keys[i]]["settings"]["subject"];
        }else if (sets[sets_keys[i]]["settings"]["subject"].trim()  == "History"){
            subject.innerHTML = '<ion-icon name="time-outline"></ion-icon>'+sets[sets_keys[i]]["settings"]["subject"];
        
        }else if (sets[sets_keys[i]]["settings"]["subject"].trim()  == "Sport"){
            subject.innerHTML = '<ion-icon name="football-outline"></ion-icon>'+sets[sets_keys[i]]["settings"]["subject"];
        
        }else if (sets[sets_keys[i]]["settings"]["subject"].trim()  == "English"){
            subject.innerHTML = '<ion-icon name="book-outline"></ion-icon>'+sets[sets_keys[i]]["settings"]["subject"];
        }else if (sets[sets_keys[i]]["settings"]["subject"].trim()  == "Other"){
            subject.innerHTML = '<ion-icon name="albums-outline"></ion-icon>'+sets[sets_keys[i]]["settings"]["subject"];
        }else if(sets[sets_keys[i]]["settings"]["subject"].trim()  == "Music"){
            subject.innerHTML = '<ion-icon name="musical-notes-outline"></ion-icon>'+sets[sets_keys[i]]["settings"]["subject"];
        }
        else{
            subject.innerHTML = sets[sets_keys[i]]["settings"]["subject"];
        }
        info.classList.add("subject_info");
        amount_of_questons.innerHTML = amount_questions+" Questions"
        p.innerText = sets[sets_keys[i]]["settings"]["desc"];
        a.id = sets_keys[i];
        strong.id = sets_keys[i];
        strong.classList.add("set_title");
        img.id = sets_keys[i];
        p.id = sets_keys[i];
        if (level != false) {
            var badge = document.createElement("ion-icon");
            badge.classList.add("badge");
                if (level == "boost") {
                    badge.name = "rocket-outline";
                    badge.style.background = "var(--boost1)";
                    badge.style.color = "var(--on_boost)";
                } else if (level == "premium") {
                    badge.name = "sparkles-outline";
                    badge.style.background = "var(--premium1)";
                    badge.style.color = "var(--on_premium)";
                } else if (level == "pro") {
                    badge.name = "medal-outline";
                    badge.style.background = "var(--pro1)";
                    badge.style.color = "var(--on_pro)";
                } else if (level == "elite") {
                    badge.name = "diamond-outline";
                    badge.style.background = "var(--elite1)";
                    badge.style.color = "var(--on_elite)";
                } else if (level == "admin") {
                    badge.name = "shield-checkmark";
                    badge.style.background = "#f2ecb6";
                    badge.style.color = "#615210";
                }
            badge.id = sets[sets_keys[i]]["settings"]["name"];
            user.appendChild(badge);
            document.querySelector("svg").addEventListener("load", () => {
                document.querySelectorAll(".badge").forEach((badge_item) => {
                    badge_item.style.display = "inline-block";
                });
            });
        }
        a.appendChild(img);
        a.appendChild(strong);
        a.appendChild(p);
        a.appendChild(user);
        a.appendChild(info);
        a.appendChild(hidden_share_link)
        info.appendChild(amount_of_questons)
        info.appendChild(subject)
        home.appendChild(a);
    }
    var subject_numbers_keys = Object.keys(subject_numbers)
    for (var i = 0; i < subject_numbers_keys.length-1;i++){
        var element = document.getElementById(subject_numbers_keys[i])
        if (subject_numbers[subject_numbers_keys[i]] == 1){
            element.innerText = "1 Set"
        }else{
            element.innerText = `${subject_numbers[subject_numbers_keys[i]]} Sets`
        }
    }
    const dialog = document.getElementById('start_set');
    const closeButton = document.getElementById('close_mobile');
    var isDragging = false;
    
    closeButton.addEventListener('touchstart', (e) => {
        isDragging = true;
    });
    
    closeButton.addEventListener('touchmove', (e) => {
      if (isDragging) {
            dialog.classList.add("slide_out_animation");
            setTimeout(() => {
                dialog.classList.remove("slide_out_animation");
                dialog.close()
            }, 500);
        }
    });
    document.addEventListener('touchstart', function(e) {
        if (e.target.classList.contains('no_pull')) {
            e.preventDefault();
        }
    }, { passive: false });

    const onlySubjectSets = (subject) => {
        var elements = document.getElementsByClassName("set_home");

        for (var i = 0; i < elements.length;i++){
            if (elements[i].getAttribute("data-value") == subject){
                elements[i].style.display = "block"
            }else{
                elements[i].style.display = "none"
        }
    }
    }
    const open_filter = () => {
        var search_filter_container = document.getElementById("search_filter_container")
        if (search_filter_container.style.display == "flex"){
            search_filter_container.style.display = "none"
        }else{
            search_filter_container.style.display = "flex"
        }
    }
</script>
{% endblock %}