{% extends "base.html" %}
{% block page_title %} Home {% endblock %}
{% block title %}Home{% endblock %}
{% block main %}
<a href="/new" id="no_sets" class="no_sets">
    <span><ion-icon name="information-circle"></ion-icon><strong>No Sets</strong></span>
    <p>You have no sets. To make one use the New button or Click Me!</p>
</a>
<main class="main">
    <h1 id="welcome" class="welcome_text">Your Sets</h1>
    <div class="home_buttons">
        <a href="/play" class="main_button third_button next">
            <span>Play</span><ion-icon name="play-outline"></ion-icon>
        </a>
        <a href="/community" class="main_button second_button">
            <span>Community</span><ion-icon name="earth-outline"></ion-icon>
        </a>
        <a href="/new" class="main_button">
            <span>New</span><ion-icon name="add-outline"></ion-icon>
        </a>
    </div>
    <div class="home_sets" id="home_sets">
    </div>
    <dialog class="start_set" id="start_set">
        <div class="all_contain_start">
            <img class="set_image" id="set_image">
            <div class="text_contain_start">
                <h1 id="set_title" class="set_title_dialog">Set Name</h1>
                <p id="set_desc"></p>
            </div>
        </div>
        <button id="close_mobile" class="close_moblie no_pull"><div></div></button>
        <button class="close_start_set">
            <ion-icon onclick="document.getElementById('start_set').close()" class="close_start"
                name="close-outline"></ion-icon>
        </button>
        <div class="start_options">
            <a onclick="document.getElementById('cards_loading').style.display = 'flex'" href="/flashcards" id="flashcards">
                <loading id="cards_loading" class="loader"><spinner></spinner></loading>
                <span id="flash_rec" class="subject"><ion-icon name="sparkles"></ion-icon>Recommend</span>
                <ion-icon src="/static/revise_icons/Fashcards.svg"></ion-icon>
                <strong>Flashcards</strong>
            </a>
            <a onclick="document.getElementById('quest_loading').style.display = 'flex'" href="/questions" id="questions">
                <loading id="quest_loading" class="loader"><spinner></spinner></loading>
                <span id="quest_rec" class="subject"><ion-icon name="sparkles"></ion-icon>Recommend</span>
                <ion-icon src="/static/revise_icons/Questions.svg"></ion-icon>
                <strong>Questions</strong>
            </a>
            <a onclick="document.getElementById('fill_loading').style.display = 'flex'" href="/fill" id="fill">
                <loading id="fill_loading" class="loader"><spinner></spinner></loading>
                <ion-icon src="/static/revise_icons/Fill The Gaps.svg"></ion-icon>
                <strong>Fill The Gaps</strong>
            </a>
            <a onclick="document.getElementById('test_loading').style.display = 'flex'" href="/upgrade" id="test">
                <loading id="test_loading" class="loader"><spinner></spinner></loading>
                <ion-icon id="test_lock" class="start_lock" name="arrow-up-circle-outline"></ion-icon>
                <ion-icon src="/static/revise_icons/Test.svg"></ion-icon>
                <strong>Test</strong>
            </a>
        </div>
        <div class="start_buttons">
            <a id="del_button" class="main_button del_button">
                <span>Delete</span><ion-icon name="trash-outline"></ion-icon>
            </a>
            <a id="share" class="main_button third_button">
                <span>Share</span><ion-icon name="share-social-outline"></ion-icon>
            </a>
            <a href="/upload" id="upload" class="second_button main_button">
                <span>Publish</span><ion-icon name="push-outline"></ion-icon>
            </a>
            <a href="/edit" id="edit_button" href="/edit" class="main_button">
                <span>Edit</span><ion-icon name="pencil-outline"></ion-icon>
            </a>
        </div>
    </dialog>
    <dialog id="delete_dialog" class="delete_dialog">
        <h3>You Are About To Delete This Set</h3>
        <p>This set will be permanently deleted and it can not be undone. Get more space by <a href="/upgrade">Upgrading</a></p>
        <div>
            <span id="delete_span_title" class="delete_span_title">Set Title: </span>
            <button onclick="document.getElementById('delete_dialog').close()" class="delete_cancel">Cancel</button>
            <button class="delete_button_dialog">Delete</button>
        </div>
    </dialog>
</main>
    <nav class="bottom_nav">
        <a href="/" class="bottom_nav_current"><ion-icon name="home-outline"></ion-icon>Home</a>
        <a href="/new"><ion-icon name="add-circle-outline"></ion-icon></a>
        <a href="/community"><ion-icon name="earth-outline"></ion-icon></a>
        <a href="/play"><ion-icon name="play-circle-outline"></ion-icon></a>
        <a href="/new/folder"><ion-icon name="folder-open-outline"></ion-icon></a>
    </nav>
<script>
    const delete_set = (name,title) => {
        document.getElementById("delete_dialog").showModal()
        document.getElementById("delete_span_title").innerText = `Title: ${title}`
        document.querySelector(".delete_button_dialog").addEventListener("click", () => {
            fetch(`/delete/${name}`)
            document.getElementById("delete_dialog").close()
            document.getElementById("start_set").close()
            document.getElementById(name).remove()
            new_notification("Success", "This set has been deleted","checkmark-circle","success")
        })
    }
    var username = {{name|tojson}};
    var date = new Date();
    var hour = date.getHours();
    var span = document.createElement("span")
    var no_sets = document.getElementById("no_sets")
    span.innerText = username
    if (hour < 12) {
        document.getElementById("welcome").innerText = `Good Morning `
    } else if (hour < 18) {
        document.getElementById("welcome").innerText = `Good Afternoon `
    } else {
        document.getElementById("welcome").innerText = `Good Evening `
    }
    document.getElementById("welcome").appendChild(span)
    var level = {{boosting|tojson}};
    const copy = (text) => {
        navigator.clipboard.writeText(text)
        document.getElementById("share").innerHTML = "<span>Copyed!</span><ion-icon name='clipboard-outline'></ion-icon>"
    }
    function show(name) {
        const dialog = document.getElementById('start_set');
        const closeButton = document.getElementById('close_mobile');
        var isDragging = false;
        
        closeButton.addEventListener('touchstart', (e) => {
            isDragging = true;
        });
        
        closeButton.addEventListener('touchmove', (e) => {
          if (isDragging) {
                dialog.classList.add("slide_out_animation");
                setTimeout(() => {
                    dialog.classList.remove("slide_out_animation");
                    dialog.close()
                }, 500);
            }
        });
        document.addEventListener('touchstart', function(e) {
            if (e.target.classList.contains('no_pull')) {
                e.preventDefault();
            }
        }, { passive: false });
        var set = sets[name]
        var sets_keys = Object.keys(set) 
        sets_keys.pop()
        var mean = 0
        var total_ans_len = 0
        for (var i = 0; i < sets_keys.length; i++) {
            var ans = set[sets_keys[i]]["answers"]["ans1"]
            total_ans_len += ans.split(" ").length
        }
        mean = total_ans_len / sets_keys.length;
        if (mean <= 2 && sets_keys.length > 3) {
            document.getElementById("quest_rec").style.display = "flex"
            document.getElementById("flash_rec").style.display = "none"
        } else {
            document.getElementById("flash_rec").style.display = "flex"
            document.getElementById("quest_rec").style.display = "none"
        }
        document.getElementById("start_set").showModal()
        document.getElementById("share").innerHTML = "<span>Share</span><ion-icon name='share-social-outline'></ion-icon>"
        document.getElementById("set_image").src = `/static/set_icons/${sets[name]["settings"]["background"]}.webp`
        document.getElementById("set_title").innerText = sets[name]["settings"]["name"]
        document.getElementById("set_desc").innerText = sets[name]["settings"]["desc"]
        document.getElementById("flashcards").href = `/flashcards/${name}`
        document.getElementById("questions").href = `/questions/${name}`
        document.getElementById("fill").href = `/fill/${name}`
        document.getElementById("del_button").addEventListener("click", () => {
            delete_set(name,sets[name]["settings"]["name"])
        })
        document.getElementById("edit_button").href = `/edit/${name}`
        document.getElementById("upload").href = `/publish/${name}`
        var share = document.getElementById("share")
        share.addEventListener("click", () => {
            copy(`revise.booogle.app/share/@${sets[name]["settings"]["user"]}/${name}`)
        })
        if (level == "elite" || level == "admin") {
            document.getElementById("test").href = `/test/${name}`
            document.getElementById("test_lock").remove()
        }
    }
    var sets = {{sets|tojson}};
    var sets_keys = Object.keys(sets)
    var folders = {{folders|tojson}}
    var folder_keys = Object.keys(folders)
    var groups = {{groups|tojson}}
    var group_keys = Object.keys(groups)

    for (var i = 0; i < group_keys.length; i++) {
        no_sets.style.display = "none"
        var home = document.getElementById("home_sets")
        var a = document.createElement("a")
        a.classList.add("droppable","folder_home")
        var img = document.createElement("img")
        var what_class = document.createElement("span")
        what_class.innerHTML = '<ion-icon name="people-outline"></ion-icon> Group'
        what_class.classList.add("subject")
        img.draggable = false
        a.draggable = false
        var strong = document.createElement("strong")
        var p = document.createElement("p")
        var amount_of_sets = document.createElement("p")
        amount_of_sets.classList.add("amount_of_sets")
        a.href = `/group/${group_keys[i]}`
        img.src = `/static/groups/${groups[group_keys[i]]["settings"]["Cover"]}.webp`
        img.alt = groups[group_keys[i]]["settings"]["Title"]
        strong.innerText = groups[group_keys[i]]["settings"]["Title"]
        p.innerText = groups[group_keys[i]]["settings"]["Desc"]
        a.id = group_keys[i]
        var amount_sets = groups[group_keys[i]]["users"].length
        if (amount_sets <= 1){
            amount_of_sets.innerText = `Contains ${amount_sets} Person`
        }else{
            amount_of_sets.innerText = `Contains ${amount_sets} People`
        }
        a.appendChild(img)
        a.appendChild(what_class)
        a.appendChild(strong)
        a.appendChild(p)
        a.appendChild(amount_of_sets)
        home.appendChild(a)
    }
    
    for (var i = 0; i < folder_keys.length; i++) {
        no_sets.style.display = "none"
        var home = document.getElementById("home_sets")
        var a = document.createElement("a")
        a.classList.add("droppable","folder_home")
        var img = document.createElement("img")
        var loader = document.createElement("loding")
        var spinner = document.createElement("spinner")
        loader.classList.add("loader")
        img.draggable = false
        a.draggable = false
        var strong = document.createElement("strong")
        var p = document.createElement("p")
        var amount_of_sets = document.createElement("p")
        var what_class = document.createElement("span")
        what_class.innerHTML = '<ion-icon name="folder-open-outline"></ion-icon> Folder'
        what_class.classList.add("subject")
        amount_of_sets.classList.add("amount_of_sets")
        a.href = `/folder/${folders[folder_keys[i]]["name"]}`
        img.src = `/static/folders/${folders[folder_keys[i]]["background"]}.webp`
        img.alt = folders[folder_keys[i]]["name"]
        strong.innerText = folders[folder_keys[i]]["name"]
        p.innerText = folders[folder_keys[i]]["desc"]
        a.id = folder_keys[i]
        var amount_sets = Object.keys(folders[folder_keys[i]]["sets"]).length
        if (amount_sets <= 1){
            amount_of_sets.innerText = `Contains ${amount_sets} Set`
        }else{
            amount_of_sets.innerText = `Contains ${amount_sets} Sets`
        }
        loader.id = `loader_${folder_keys[i]}`
        loader.appendChild(spinner)
        a.appendChild(loader)
        a.appendChild(img)
        a.appendChild(what_class)
        a.appendChild(strong)
        a.appendChild(p)
        a.appendChild(amount_of_sets)
        home.appendChild(a)
        img.id = folder_keys[i]
        p.id = folder_keys[i]
        strong.id = folder_keys[i]
        what_class.id = folder_keys[i]
        var current_loader = document.getElementById(`loader_${folder_keys[i]}`)
        a.addEventListener("click",(e)=>{
            console.log(e.target.id)
            document.getElementById(`loader_${e.target.id}`).style.display = "flex"
        })
    }

    for (var i = 0; i < sets_keys.length; i++) {
        no_sets.style.display = "none"
        const droppableContainers = document.querySelectorAll('.droppable');
        if (!sets[sets_keys[i]]["settings"]["folder"]) {
            var level = sets[sets_keys[i]]["settings"]["level"]
            var home = document.getElementById("home_sets")
            var a = document.createElement("set")
            var img = document.createElement("img")
            a.classList.add("draggable","set_home")
            a.draggable = true
            img.draggable = false
            var what_class = document.createElement("span")
            what_class.innerHTML = '<ion-icon name="albums-outline"></ion-icon> Set'
            what_class.classList.add("subject")
            var strong = document.createElement("strong")
            var p = document.createElement("p")
            var user = document.createElement("p")
            a.addEventListener("click", (e) => {
                show(e.target.id)
            })
            img.src = `/static/set_icons/${sets[sets_keys[i]]["settings"]["background"]}.webp`
            img.alt = sets[sets_keys[i]]
            user.innerText = sets[sets_keys[i]]["settings"]["user"]
            user.classList.add("user_name")
            strong.innerText = sets[sets_keys[i]]["settings"]["name"]
            p.innerText = sets[sets_keys[i]]["settings"]["desc"]
            a.id = sets_keys[i]
            strong.id = sets_keys[i]
            img.id = sets_keys[i]
            p.id = sets_keys[i]
            user.id = sets_keys[i]
            if (level != false) {
                var badge = document.createElement("ion-icon")
                badge.classList.add("badge")
                if (level == "boost") {
                    badge.name = "rocket-outline";
                    badge.style.background = "var(--boost1)";
                    badge.style.color = "var(--on_boost)";
                } else if (level == "premium") {
                    badge.name = "sparkles-outline";
                    badge.style.background = "var(--premium1)";
                    badge.style.color = "var(--on_premium)";
                } else if (level == "pro") {
                    badge.name = "medal-outline";
                    badge.style.background = "var(--pro1)";
                    badge.style.color = "var(--on_pro)";
                } else if (level == "elite") {
                    badge.name = "diamond-outline";
                    badge.style.background = "var(--elite1)";
                    badge.style.color = "var(--on_elite)";
                } else if (level == "admin") {
                    badge.name = "shield-checkmark";
                    badge.style.background = "#f2ecb6";
                    badge.style.color = "#615210";
                }
                badge.id = sets[sets_keys[i]]["settings"]["name"]
                user.appendChild(badge)
                document.querySelector('svg').addEventListener('load', () => {
                    document.querySelectorAll(".badge").forEach((badge_item) => {
                        badge_item.style.display = "inline-block"
                    })
                })
            }
            a.appendChild(img)
            a.appendChild(what_class)
            a.appendChild(strong)
            a.appendChild(p)
            a.appendChild(user)
            home.appendChild(a)
            a.setAttribute('draggable', true);
            a.style.cursor = 'move';

            a.addEventListener('dragstart', (event) => {
                event.dataTransfer.setData('text/plain', event.target.id);
            });

            a.addEventListener('dragend', (event) => {

            });
        }

        var current_set = ""
        for (let j = 0; j < droppableContainers.length; j++) {
            const droppableContainer = droppableContainers[j];
            const droppableContainer_id = droppableContainer.id
            droppableContainer.addEventListener('dragover', (event) => {
                event.preventDefault();
            });

            droppableContainer.addEventListener('drop', (event) => {
                event.preventDefault();
                const draggedElementId = event.dataTransfer.getData('text/plain');
                const draggedElement = document.getElementById(draggedElementId);
                if (folder_keys.includes(droppableContainer.id)){
                    draggedElement.remove()
                    fetch(`/add/folder/${droppableContainer.id}/${draggedElement.id}`)
                }else{
                    if(current_set != draggedElement.id){
                        console.log("Sending")
                        current_set = draggedElement.id
                        fetch(`/add/group/${droppableContainer.id}/${draggedElement.id}`)
                    }
                }
            });
        }
    }
    const menu_open = () => {
        var menu_button = document.getElementById("home_menu_button")
        var menu = document.getElementById("home_menu")
        if(menu.style.display == "flex") {
            menu_button.classList.remove("home_menu_button_selected")
            menu.style.display = "none"
        }else{
            menu_button.classList.add("home_menu_button_selected")
            menu.style.display = "flex"
        }
        
    }
    const offline_backup = () => {
        const jsonString = JSON.stringify(sets);
        localStorage.setItem('sets', jsonString);
    }
    const get_offline = () => {
        const offline_sets = localStorage.getItem('sets');
        if (offline_sets != null) {
            sets = JSON.parse(offline_sets);
        }
        return sets
    }
    
</script>
    <div class="home_menu" id="home_menu">
        <a href="/new"><ion-icon name="add-outline"></ion-icon>New Set</a>
        <a href="/new/folder"><ion-icon name="folder-open-outline"></ion-icon>New Folder</a>
        <a href="/new/group"><ion-icon name="people-outline"></ion-icon>New Group</a>
        <a href="/new/learn"><ion-icon name="book-outline"></ion-icon>New Learn Set</a>
        <a href="/automations"><ion-icon name="git-merge-outline"></ion-icon>Automation</a>
    </div>
<button onclick="menu_open()" id="home_menu_button" class="home_add"><ion-icon name="add-outline"></ion-icon></button>
{% endblock %}
