{% extends "base.html" %}
{% block page_title %} New Question {% endblock %}
{% block title %}New{% endblock %}
{% block main %}
    <main class="main">
        <h1 id="title">Learn Set</h1>
        <p id="desc" class="new_set_desc">Share your skills by creating a learn set. Learn sets make it possible for other users to use you resources not just for revision but for learning.</p>
        <span id="len_warn" style="display:none;" class="error_message"><ion-icon name="warning-outline"></ion-icon>Unable To Create Set, Due To The Set Title/Description Being To Long/Short.</a></span>
        <form method="post">
            <button id="save_button" class="main_button next top_title_button" type="submit" style="position:absolute;top:34.5px;right:0px;"><span>Save</span><i class="ph-bold ph-floppy-disk"></i></button>
            <input required oninvalid="this.setCustomValidity('Please enter only letters and numbers.')" oninput="this.setCustomValidity('')" pattern="^[A-Za-z0-9\s]+$" value="{{set_data['title']}}" id="quest"  maxlength="80" placeholder="Title" name="title" class="new_title text" autofocus>
            <div style="margin-top:-52px;" class="autocomplete"><span class="autocomplete_current" id="quest_autocomplete_current"></span><span class="autocomplete_next" id="quest_autocomplete_next"></span><button class="autocomplete_button" id="quest_autocomplete_button" type="button">Tab</button><button id="voice_title" class="mic" type="button" onclick="record('quest',this.id)"><ion-icon name="mic-outline"></ion-icon></button></div>
            <textarea required id="ans1" maxlength="150"  placeholder="Description" name="desc" class="new_desc text">{{set_data["desc"]}}</textarea>
            <div style="height:200px;margin-top:-212px;padding-top: 16px;" class="autocomplete"><span class="autocomplete_current" id="ans_autocomplete_current"></span><span class="autocomplete_next" id="ans_autocomplete_next"></span><button class="autocomplete_button" id="ans_autocomplete_button" type="button">Tab</button><button style="top:-10px" id="voice_desc" class="mic" type="button" onclick="record('ans1',this.id)"><ion-icon name="mic-outline"></ion-icon></button></div>
            <textarea required id="ins" maxlength="1500"  placeholder="Instructions (Use Markdown)" name="instructions" class="new_desc text">{{set_data["instructions"]}}</textarea>
            <div style="height:200px;margin-top:-212px;padding-top: 16px;" class="autocomplete"><span class="autocomplete_current" id="ins_autocomplete_current"></span><span class="autocomplete_next" id="ins_autocomplete_next"></span><button class="autocomplete_button" id="ins_autocomplete_button" type="button">Tab</button><button style="top:-10px" id="voice_desc" class="mic" type="button" onclick="record('ins',this.id)"><ion-icon name="mic-outline"></ion-icon></button></div>
            <h3  style="color:var(--text)">Subject</h3>
            <select name="subject" id="subject">
                <option id="python" value="Python">Python</option>
                <option id="cplusplus" value="C++">C++</option>
                <option id="csharp" value="C#">C#</option>
            </select>
            <div class="new_images">
                <h3 style="color:var(--text)">Cover Image</h3>
                <div class="new_images_here">
                    <a><img class="cover_img" draggable="false" src="/static/code_icons/python.webp" onclick="document.getElementById('python').checked = true"><input id="python" type="radio" name="cover" value="python" checked></a>
                    <a><img class="cover_img" draggable="false" src="/static/code_icons/Csharp.webp" onclick="document.getElementById('c#').checked = true"><input id="c#" type="radio" name="cover" value="c#"></a>
                    <a><img class="cover_img" draggable="false" src="/static/code_icons/c++.webp" onclick="document.getElementById('c++').checked = true"><input id="c++" type="radio" name="cover" value="c++"></a>
                </div>
            </div>
        </form>
    </main>
<script>
    var level = {{boosting|tojson}}[0];
    var title_element = document.getElementById("quest");
    var subject_element = document.getElementById("subject");
    title_element.addEventListener("input", function(){
        title = title_element.value;
        if(title.length > 4){
        data = {
            "text": title
        }
        fetch("/api/smartcode", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            subject = data["subject"].trim()
            console.log(subject)
            document.getElementById(subject).selected = true;
        }
        )
        }else{
            document.getElementById("Other").selected = true;
        }
    })
    if(level == "premium" || level == "pro" || level == "elite"){
        document.querySelectorAll(".premium").forEach((p) => {
            p.style.display = "block";
        })
    }
    else if(level == "pro" || level == "elite"){
        document.querySelectorAll(".pro").forEach((p) => {
            p.style.display = "block";
        })
    }
    else if(level == "elite"){
        document.querySelectorAll(".elite").forEach((p) => {
            p.style.display = "block";
        })
    }
    var save_button = document.getElementById("save_button");
    save_button.addEventListener("click", function(){
        save_button.classList.add("button_spinner")
    })
</script>
<script src="/static/javascript/autocomplete.js"></script>
<script src="/static/javascript/voice-recorder.js"></script>
{% endblock %}