{% extends "base.html" %}
{% block page_title %} Settings {% endblock %}
{% block title %}Settings{% endblock %}
{% block main %}
<main class="main">
    <h1>Settings</h1>
    <div class="settings_main">
        <div class="settings_menu">
            <div class="settings_options">
                <a class="current"><i class="ph ph-gear"></i><span>General</span></a>
                <a><i class="ph ph-person-arms-spread"></i><span>Accessibility</span></a>
                <a><i class="ph ph-user-circle-gear"></i></ion-icon><span>Account</span></a>
            </div>
        </div>
        <form class="change_settings" method="post">
            <div class="home_buttons">
                <button id="save_button" class="main_button">
                    <span>Save</span><i class="ph-bold ph-floppy-disk"></i>
                </button>
            </div>
            <h2>Interface</h2>
            <p>Change the style of the UI</p>
            <h3>Theme</h3>
            <p>Change The Color Theme From 4 Deferent Presets</p>
            <select name="theme">
                <option value="green" selected>Green</option>
                <option value="blue">Blue</option>
                <option value="yellow">Yellow</option>
                <option value="red">Red</option>
            </select>
            </form>
        </div>
    </div>
</main>
<script>
    var save_button = document.getElementById('save_button');
    save_button.addEventListener("click",() => {
        save_button.classList.add('button_spinner');
    })
</script>
{% endblock %}
