{% extends "base.html" %}
{% block page_title %} New Group {% endblock %}
{% block title %}New Group{% endblock %}
{% block main %}
    <main class="main">
        <h1>New Group</h1>
        <form method="post">
            <div class="home_buttons no_hide">
                <button class="main_button second_button" type="submit" name="type" value="class"><span>Create as class</span><i class="ph ph-chalkboard-simple"></i></button>
                <button class="main_button top_title_button" type="submit" name="type" value="group"><span>Done</span><ion-icon name="checkmark-done-outline"></ion-icon></button>
            </div>
            <input required oninvalid="this.setCustomValidity('Please enter only letters and numbers.')" oninput="this.setCustomValidity('')" pattern="^[A-Za-z0-9\s]+$" value="" id="quest"  maxlength="80" placeholder="Title" name="title" class="new_title text" autofocus>
            <div style="margin-top:-52px;" class="autocomplete"><span class="autocomplete_current" id="quest_autocomplete_current"></span><span class="autocomplete_next" id="quest_autocomplete_next"></span><button class="autocomplete_button" id="quest_autocomplete_button" type="button">Tab</button><button id="voice_title" class="mic" type="button" onclick="record('quest',this.id)"><ion-icon name="mic-outline"></ion-icon></button></div>
            <textarea required id="ans1" maxlength="150"  placeholder="Description" name="desc" class="new_desc text"></textarea>
            <div style="height:200px;margin-top:-212px;padding-top: 16px;" class="autocomplete"><span class="autocomplete_current" id="ans_autocomplete_current"></span><span class="autocomplete_next" id="ans_autocomplete_next"></span><button class="autocomplete_button" id="ans_autocomplete_button" type="button">Tab</button><button style="top:-10px" id="voice_desc" class="mic" type="button" onclick="record('ans1',this.id)"><ion-icon name="mic-outline"></ion-icon></button></div>
            <div class="new_images">
                <h3 style="color:var(--text)">Cover Image</h3>
                <div class="new_images_here">
                    <a><img class="cover_img" draggable="false" src="/static/groups/Group.webp" onclick="document.getElementById('Group').checked = true"><input id="Group" type="radio" name="cover" value="Group" checked></a>
                    <a><img class="cover_img" draggable="false" src="/static/groups/Group-1.webp" onclick="document.getElementById('Group-1').checked = true"><input id="Group-1" type="radio" name="cover" value="Group-1"></a> 
                    <a><img class="cover_img" draggable="false" src="/static/groups/Group-2.webp" onclick="document.getElementById('Group-2').checked = true"><input id="Group-2" type="radio" name="cover" value="Group-2"></a>
                    <a><img class="cover_img" draggable="false" src="/static/groups/Group-3.webp" onclick="document.getElementById('Group-3').checked = true"><input id="Group-3" type="radio" name="cover" value="Group-3"></a>  
                    <a><img class="cover_img" draggable="false" src="/static/groups/Group-4.webp" onclick="document.getElementById('Group-4').checked = true"><input id="Group-4" type="radio" name="cover" value="Group-4"></a>  
                    <a><img class="cover_img" draggable="false" src="/static/groups/Group-5.webp" onclick="document.getElementById('Group-5').checked = true"><input id="Group-5" type="radio" name="cover" value="Group-5"></a>  
                    <a><img class="cover_img" draggable="false" src="/static/groups/Group-6.webp" onclick="document.getElementById('Group-6').checked = true"><input id="Group-6" type="radio" name="cover" value="Group-6"></a>  
                </div>
                    
            </div>
        </form>
    </main>
<script>
</script>
<script src="/static/javascript/autocomplete.js"></script>
<script src="/static/javascript/voice-recorder.js"></script>
{% endblock %}