{% extends "base.html" %}
{% block page_title %} Home {% endblock %}
{% block title %}Home{% endblock %}
{% block main %}
<main class="main">
    <h1>Your Sets</h1>
    <div class="home_buttons">
        <a href="/play" class="main_button third_button next">
            <span>Play</span><ion-icon name="play-outline"></ion-icon>
        </a>
        <a href="/community" class="main_button second_button">
            <span>Community</span><ion-icon name="earth-outline"></ion-icon>
        </a>
        <a href="/new" class="main_button">
            <span>New</span><ion-icon name="add-outline"></ion-icon>
        </a>
    </div>
    <div class="home_sets" id="home_sets"></div>
</main>
    <nav class="bottom_nav">
        <a href="/new/group"><ion-icon name="people-outline"></ion-icon></a>
        <a href="/new/folder"><ion-icon name="folder-open-outline"></ion-icon></a>
        <a href="/community"><ion-icon name="earth-outline"></ion-icon></a>
        <a href="/play"><ion-icon name="play-outline"></ion-icon></a>
        <a href="/new" class="add_button_nav"><ion-icon name="add-outline"></ion-icon></a>
    </nav>
<script>
    var level = {{boosting|tojson}};
    var sets = {{learn_sets|tojson}};
    var sets_keys = Object.keys(sets)

    for (var i = 0; i < sets_keys.length; i++) {
        const droppableContainers = document.querySelectorAll('.droppable');
        if (!sets[sets_keys[i]]["settings"]["folder"]) {
            var level = sets[sets_keys[i]]["settings"]["level"]
            var home = document.getElementById("home_sets")
            var a = document.createElement("set")
            var img = document.createElement("img")
            a.classList.add("draggable","set_home")
            a.draggable = true
            img.draggable = false
            var what_class = document.createElement("span")
            what_class.id = "like_learn"
            what_class.innerHTML = '<ion-icon name="heart-outline"></ion-icon>'
            what_class.classList.add("like_learn")
            what_class.addEventListener("click",(e) => {
                if (e.target.id != "like_learn"){
                    e.target.classList.toggle("like_learn_selected")
                    target_name = e.target.name
                    console.log(e.target.id)
                    var url = "api/learn/like"
                    if (target_name == "heart-outline"){
                        e.target.name = "heart"
                        like_data = {
                            "set":sets_keys[i],
                            "type":"like"
                        }
                        fetch(url, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(like_data),
                            })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                            })
                            .catch(error => {
                                new_notification("Error", "There was an error liking this set, please try again later","close-circle", "error")
                            });
                    }else{
                        e.target.name = "heart-outline"
                        like_data = {
                            "set":sets_keys[i],
                            "type":"unlike"
                        }
                        fetch(url, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(like_data),
                            })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                            })
                            .catch(error => {
                                new_notification("Error", "There was an error unliking this set, please try again later","close-circle", "error")
                            });
                }
                }
            })
            var strong = document.createElement("strong")
            var p = document.createElement("p")
            var user = document.createElement("p")
            a.addEventListener("click", (e) => {
                window.location = "/learn/"+e.target.id
            })
            img.src = `/static/set_icons/${sets[sets_keys[i]]["settings"]["background"]}.webp`
            img.alt = sets[sets_keys[i]]
            user.innerText = sets[sets_keys[i]]["settings"]["user"]
            user.classList.add("user_name")
            strong.innerText = sets[sets_keys[i]]["settings"]["name"]
            p.innerText = sets[sets_keys[i]]["settings"]["desc"]
            a.id = sets_keys[i]
            strong.id = sets_keys[i]
            img.id = sets_keys[i]
            p.id = sets_keys[i]
            user.id = sets_keys[i]
            if (level != false) {
                var badge = document.createElement("ion-icon")
                badge.classList.add("badge")
                if (level == "boost") {
                    badge.name = "rocket-outline";
                    badge.style.background = "var(--boost1)";
                    badge.style.color = "var(--on_boost)";
                } else if (level == "premium") {
                    badge.name = "sparkles-outline";
                    badge.style.background = "var(--premium1)";
                    badge.style.color = "var(--on_premium)";
                } else if (level == "pro") {
                    badge.name = "medal-outline";
                    badge.style.background = "var(--pro1)";
                    badge.style.color = "var(--on_pro)";
                } else if (level == "elite") {
                    badge.name = "diamond-outline";
                    badge.style.background = "var(--elite1)";
                    badge.style.color = "var(--on_elite)";
                } else if (level == "booogle") {
                    badge.name = "repeat-outline";
                    badge.style.background = "#A3D89D";
                    badge.style.color = "#243822)";
                }
                badge.id = sets[sets_keys[i]]["settings"]["name"]
                user.appendChild(badge)
                document.querySelector('svg').addEventListener('load', () => {
                    document.querySelectorAll(".badge").forEach((badge_item) => {
                        badge_item.style.display = "inline-block"
                    })
                })
            }
            a.appendChild(img)
            a.appendChild(what_class)
            a.appendChild(strong)
            a.appendChild(p)
            a.appendChild(user)
            home.appendChild(a)
            a.setAttribute('draggable', true);
        }
    const menu_open = () => {
        var menu_button = document.getElementById("home_menu_button")
        var menu = document.getElementById("home_menu")
        if(menu.style.display == "flex") {
            menu_button.classList.remove("home_menu_button_selected")
            menu.style.display = "none"
        }else{
            menu_button.classList.add("home_menu_button_selected")
            menu.style.display = "flex"
        }
        
    }
}
</script>
    <div class="home_menu" id="home_menu">
        <a href="/new"><ion-icon name="add-outline"></ion-icon>New Set</a>
        <a href="/new/folder"><ion-icon name="folder-open-outline"></ion-icon>New Folder</a>
        <a href="/new/group"><ion-icon name="people-outline"></ion-icon>New Group</a>
        <a href="/automations"><ion-icon name="git-merge-outline"></ion-icon>Automations</a>
    </div>
<button onclick="menu_open()" id="home_menu_button" class="home_add"><ion-icon name="add-outline"></ion-icon></button>
{% endblock %}
