{% extends "base.html" %}
{% block page_title %} Home {% endblock %}
{% block title %}Home{% endblock %}
{% block main %}
<sidenav class="side-bar">
    <div>
    <span class="side_title" id="side_title"><ion-icon name="chevron-up-outline"></ion-icon><strong>Title</strong></span>
    <div class="side_topics" id="side_topics">
        <span class="side_title" id="topic_name" onclick="open_topic('topic_name')"><ion-icon name="chevron-up-outline"></ion-icon></ion-icon><strong>Topic</strong></span>
        <div class="side_subtopics" id="topic_name_subtopics">
            <span><ion-icon name="arrow-forward-outline"></ion-icon>Subtopic</span>
            <span><ion-icon name="arrow-forward-outline"></ion-icon>Subtopic</span>
        </div>
        <span class="side_title" onclick="this.classList.toggle('side_title_selected')" id="side_title"><ion-icon name="chevron-up-outline"></ion-icon><strong>Topic</strong></span>
        <span class="side_title" onclick="this.classList.toggle('side_title_selected')" id="side_title"><ion-icon name="chevron-up-outline"></ion-icon><strong>Topic</strong></span>
    </div>
    </div>
</sidenav>
<main class="learn_main">
    <div>
        <h1>Subject</h1>
        <h2>Subtopic</h2>
        <hr>
        <part>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu quam dapibus, vehicula neque at, egestas metus. Maecenas eget vehicula odio. Duis nec facilisis libero. Suspendisse cursus interdum quam, at imperdiet metus convallis eu. Nam non convallis odio, sit amet interdum ante. Aliquam lectus orci, euismod non tempor sed, accumsan eu metus. Proin varius, diam id aliquet auctor, mi purus luctus lectus, eu tempor diam eros eu erat. Ut vehicula orci risus, vitae pharetra leo suscipit vel. Vestibulum et metus pulvinar, cursus justo a, vestibulum orci. Mauris cursus metus vitae faucibus gravida.</p>
            <img src="/static/images/embed.png">
        </part>
        <part>
            <img src="/static/images/embed.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu quam dapibus, vehicula neque at, egestas metus. Maecenas eget vehicula odio. Duis nec facilisis libero. Suspendisse cursus interdum quam, at imperdiet metus convallis eu. Nam non convallis odio, sit amet interdum ante. Aliquam lectus orci, euismod non tempor sed, accumsan eu metus. Proin varius, diam id aliquet auctor, mi purus luctus lectus, eu tempor diam eros eu erat. Ut vehicula orci risus, vitae pharetra leo suscipit vel. Vestibulum et metus pulvinar, cursus justo a, vestibulum orci. Mauris cursus metus vitae faucibus gravida.</p>
        </part>
        <part>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu quam dapibus, vehicula neque at, egestas metus. Maecenas eget vehicula odio. Duis nec facilisis libero. Suspendisse cursus interdum quam, at imperdiet metus convallis eu. Nam non convallis odio, sit amet interdum ante. Aliquam lectus orci, euismod non tempor sed, accumsan eu metus. Proin varius, diam id aliquet auctor, mi purus luctus lectus, eu tempor diam eros eu erat. Ut vehicula orci risus, vitae pharetra leo suscipit vel. Vestibulum et metus pulvinar, cursus justo a, vestibulum orci. Mauris cursus metus vitae faucibus gravida.</p>
            <img src="/static/images/embed.png">
        </part>
    </div>

</main>
<script>
    var side_title = document.getElementById("side_title")
    var side_topics = document.getElementById("side_topics")
    side_title.addEventListener("click",() => {
        side_title.classList.toggle("side_title_selected")
        side_topics.classList.toggle("side_topics_selected")
    })
    const open_topic = (topic_name) => {
        var topic = document.getElementById(topic_name)
        var topic_subtopics = document.getElementById(topic_name + "_subtopics")
        topic.classList.toggle("side_title_selected")
        topic_subtopics.classList.toggle("side_subtopics_selected")
    }
</script>
{% endblock %}
