{% block page_title %} {{title}} {% endblock %}
{% extends "base.html" %} {% block title %}Questions{% endblock %} {% block main
%}
<form method="post">
  <main class="main">
    <h1>You Got It Correct</h1>
    <p style="color: var(--text)">Answer:</p>
    <div class="correct">{{answer}}</div>
    <div class="flash_buttons">
      <button type="button" onclick="location.href='/'" class="main_button second_button" style="margin-right: 21px">
        <span>Exit</span><ion-icon name="exit-outline"></ion-icon>
      </button>
      <button value="next" class="main_button next">
        <span>Next</span><ion-icon name="arrow-forward-outline"></ion-icon>
      </button>
    </div>
  </main>
</form>
{% endblock %}
