{% extends "base.html" %}{% block page_title %} Play {% endblock %} {% block title %}Play{% endblock %} {% block main %}
<main class="main">
    <h1>Play</h1>
    <form method="post" class="test">
        <div class="home_buttons host_buttons">
            <a href="/host" class="main_button second_button">
                <span>Host Game</span>
                <ion-icon name="construct-outline"></ion-icon>
            </a>
        </div>
        <div class="play_code">
            <input patten="^\d+$" type="number" class="text play_code_text" placeholder="Code" required name="code">
            <button class="main_button next"><span>Play</span><ion-icon name="play-outline"></ion-icon></button>
        </div>
    </form>
</main>
<p class="create_new_play">Create A <a href="/new">New</a> Set To Play</p>
{% endblock %}
