{% extends "base.html" %} {% block page_title %} Upgrade {% endblock %} {% block
title %}Upgrade{% endblock %} {% block main %}
<main class="main">
  <h1>Upgrade Plans</h1>
  <div class="home_buttons">
    <a href="/custom_upgrade" class="main_button">
        <span>Custom Upgrade</span><i class="ph-bold ph-arrow-circle-up"></i>
    </a>
  </div>
  <div class="up_container">
    <a class="up_upgrade">
      <strong class="up_title">Basic</strong>
      <strong class="up_price">Free</strong>
      <p class="up_recommend">Free For Life</p>
      <div class="up_items">
        <span>
          <i class="ph ph-hard-drives"></i>10 Sets
        </span>
        <span>
          <i class="ph ph-globe-hemisphere-east"></i>2 Publishable Sets
        </span>
        <span> <i class="ph ph-question"></i>15 Max Questions </span>
        <span>
          <i class="ph ph-play"></i>Play Mode With 3 Users
        </span>
        <span>
            <i class="ph ph-users-three"></i>1 Group
        </span>
        <span>
            <i class="ph ph-palette"></i>1 Color Theme
        </span>
      </div>
    </a>
    <a class="up_upgrade">
      <strong class="up_title">Premium</strong>
      <strong class="up_price">£5.00 For Life</strong>
      <p class="up_recommend">Perfect For Students</p>
      <div class="up_items">
        <span>
          <i class="ph ph-hard-drives"></i>20 Sets
        </span>
        <span>
          <i class="ph ph-globe-hemisphere-east"></i>5 Publishable Sets
        </span>
        <span>
          <i class="ph ph-sparkle"></i>Premium Badge
        </span>
        <span>
          <i class="ph ph-images"></i>2 New Cover Images <span class="soon"><i class="ph ph-arrow-clockwise"></i>Updated</span>
        </span>
        <span>
          <i class="ph ph-question"></i> 20 Max Questions
        </span>
        <span>
          <i class="ph ph-play"></i>Play Mode With 5 Users
        </span>
        <span>
            <i class="ph ph-users-three"></i>2 Groups
        </span>
        <span>
            <i class="ph ph-palette"></i>2 Color Themes <span class="soon"><i class="ph ph-clock-countdown"></i>Coming Soon</span>
        </span>
      </div>
      <form action="/join/premium" method="POST">
        <button
        id="premium"
        style="
          --up_text: var(--on_premium);
          --up_color: #00a7ff55;
          --border_color: #00a7ff;
          background: var(--premium1);
        "
        class="up_button"
        onclick="document.getElementById('premium_button_text').innerText = 'Joining...';"
      ><i class="ph-bold ph-sparkle"></i>
        <span id="premium_button_text">Join Premium</span>
      </button>
      </form>
    </a>
    <a class="up_upgrade">
      <strong class="up_title">Pro</strong>
      <strong class="up_price">£10.00 For Life</strong>
      <p class="up_recommend">Best Value</p>
      <div class="up_items">
        <span>
          <i class="ph ph-hard-drives"></i>35 Sets
        </span>
        <span>
          <i class="ph ph-globe-hemisphere-east"></i>10 Publishable Sets
        </span>
        <span>
          <i class="ph ph-medal"></i>Pro Badge
        </span>
        <span>
          <i class="ph ph-images"></i>5 New Cover Images <span class="soon"><i class="ph ph-arrow-clockwise"></i>Updated</span>
        </span>
        <span>
          <i class="ph ph-question"></i> 25 Max Questions
        </span>
        <span>
          <i class="ph ph-play"></i>Play Mode With 10 Users
        </span>
        <span>
            <i class="ph ph-users-three"></i>5 Groups
        </span>
        <span>
            <i class="ph ph-palette"></i>3 Color Themes <span class="soon"><i class="ph ph-clock-countdown"></i>Coming Soon</span>
        </span>
      </div>
      <form action="/join/pro" method="POST">
      <button
        id="pro"
        style="
          --up_text: var(--on_pro);
          --up_color: #00f8ff55;
          --border_color: #00f8ff;
          background: var(--pro1);
        "
        class="up_button"
        onclick="document.getElementById('pro_button_text').innerText = 'Joining...';"
      >
      <i class="ph-bold ph-medal"></i>
        <span id="pro_button_text">Join Pro</span>
      </button>
      </form>
    </a>
    <a class="up_upgrade" style="border-color: #692a7d">
      <strong class="up_title">Elite</strong>
      <strong class="up_price">£40.00 For Life</strong>
      <p class="up_recommend">Perfect For Teachers</p>
      <div class="up_items">
        <span>
          <i class="ph ph-hard-drives"></i>100 Sets
        </span>
        <span>
          <i class="ph ph-globe-hemisphere-east"></i>30 Publishable Sets
        </span>
        <span>
          <i class="ph ph-sketch-logo"></i>Elite Badge
        </span>
        <span>
          <i class="ph ph-images"></i>12 New Cover Images <span class="soon"><i class="ph ph-arrow-clockwise"></i>Updated</span>
        </span>
        <span>
          <i class="ph ph-question"></i> 50 Max Questions
        </span>
        <span>
          <i class="ph ph-play"></i>Play Mode With 40 Users
        </span>
        <span>
            <i class="ph ph-users-three"></i>20 Groups
        </span>
        <span>
            <i class="ph ph-palette"></i>4 Color Themes <span class="soon"><i class="ph ph-clock-countdown"></i>Coming Soon</span>
        </span>
        <span>
          <i class="ph ph-chalkboard-teacher"></i>Groups to Classes <span class="soon"><i class="ph ph-clock-countdown"></i>Soon</span>
        </span>
        <span> <i class="ph ph-flask"></i>Beta Features </span>
        <span> <i class="ph ph-exam"></i>Test Mode </span>
        <span><i class="ph ph-graduation-cap"></i>Teacher Tools <span class="soon"><i class="ph ph-clock-countdown"></i>Coming Soon</span>
      </div>
      <form action="/join/elite" method="POST">
        <button
        id="elite"
        style="
          --up_text: var(--on_elite);
          --up_color: #ff00ff55;
          --border_color: #ff00ff;
          background: var(--elite1);
        "
        class="up_button"
        onclick="document.getElementById('elite_button_text').innerText = 'Joining...';"
      >
      <i class="ph ph-sketch-logo"></i>
        <span id="elite_button_text">Join Elite</span>
      </button>
      </form>
    </a>
  </div>
</main>
<script>
  var level = {{boosting| tojson}};
  if (level != false) {
      document.getElementById(level).style.background = "none";
      document.getElementById(level).style.outline = "1px solid var(--" + level + "1)";
      document.getElementById(level).innerText = "Current Level"
      document.getElementById(level).style.color = "var(--text)";
      document.getElementById(level).style.boxShadow = "none"
  }
</script>
{% endblock %}
